.DS_Store
*.pdf
assets/img/portfolio/new/_originals/
assets/img/portfolio/new/Screenshot *.png
assets/img/portfolio/new/hireQ-1.jpeg
assets/img/portfolio/new/hireQ-2.jpeg
assets/img/portfolio/new/hireQ-3.jpeg
